@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Varela+Round&display=swap");
.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.mxw-340 {
  max-width: 340px;
}

.ff-varela {
  font-family: "Varela Round", sans-serif;
}

.sosmed img {
  width: 60px;
}

body {
}
.bg {
  /* z-index: 1; */
  position: fixed;
  opacity: 0.8;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  z-index: 2;
  top: 0;
}

.popup {
  z-index: 4;
}

.popup img {
  object-fit: contain;
}

.dnone-imortal {
  display: none !important;
}

@media only screen and (min-width: 400px) {
  .max-window {
    max-width: 400px;
  }
}
