@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Varela+Round&display=swap");
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: darkcyan;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: darkslategray;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.mxw {
  max-width: 330px;
}

.ff-varela {
  font-family: "Varela Round", sans-serif;
}

.sosmed img {
  width: 60px;
}

body {
}
.bg {
  /* z-index: 1; */
  position: fixed;
  opacity: 0.8;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  z-index: 2;
  top: 0;
}

.popup {
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.2);
}

.popup img {
  object-fit: contain;
}

.dnone-imortal {
  display: none !important;
}

.list-image,
.top-image {
  outline: 3px solid white;
  outline-offset: -3px;
}

@media only screen and (min-width: 400px) {
  .max-window {
    max-width: 400px;
  }
}
